@inherits LayoutComponentBase
@using System.Reflection

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<text>Version @version (@commit)</text>
			<a href="https://github.com/StepKie/MtgCsvHelper/issues/new/choose" target="_blank">Report a Bug</a>
			<a href="https://github.com/StepKie/MtgCsvHelper/" target="_blank">Project Home</a>
		</div>
		
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	private static string versionFull = Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()!.InformationalVersion;
	private string version = versionFull.Split("+")[0];
	private string commit = versionFull.Split("+")[1].Remove(7);

}
